body {
  background-color: #cccccc;
  margin: 0;
  margin-top: 0;
  /* text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: relative; */
}
.main {
  /* layout: 1440px; */
  height: 590px;
  margin: 100px 130px 100px 130px;
  background-color: #ececeb;
  box-shadow: 0 0 10px 10px #979797;
}
.heading {
  font-size: 10px;
}
.top {
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding-top: 30px;
  margin-bottom: 0;
  font-weight: 100;
  color: #979797;
}
.bottom {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
.main-article {
  font-size: 15px;
  position: relative;
  padding-top: 0;
  margin: 0 380px 10px 380px;
  text-align: center;
}
.dot {
  width: 5%;
  position: absolute;
  bottom: 150px;
}
.dot2 {
  width: 5%;
  position: absolute;
  top: 150px;
  right: 0;
}
.line {
  width: 15%;
  position: absolute;
  top: 50px;
  left: -90px;
}
.line2 {
  width: 15%;
  position: absolute;
  bottom: 50px;
  right: -90px;
}
.main-article {
  text-align: center;
}
.top-container {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto 0 auto;
  top: 5px;
  text-align: center;
  height: 180px;
  width: 320px;
  box-shadow: 0 0 10px 5px #979797;
}
.text {
  text-align: left;
  margin-left: 15px;
}
.team {
  position: relative;
  left: 100px;
  padding-top: 5px;
}
.bottom-container {
  background-color: #ffffff;
  position: relative;
  margin: 10px auto 5px auto;
  top: 20px;
  text-align: center;
  height: 180px;
  width: 320px;
  box-shadow: 0 0 10px 5px #979797;
}
.karma {
  position: relative;
  left: 100px;
  padding-top: 5px;
}
.left-container {
  background-color: #ffffff;
  position: absolute;
  left: 200px;
  bottom: 200px;
  text-align: center;
  height: 190px;
  width: 320px;
  box-shadow: 0 0 10px 5px #979797;
}
.cal {
  position: relative;
  left: 100px;
  padding-top: 8px;
  bottom: 10px;
}
.right-container {
  background-color: #ffffff;
  position: absolute;
  right: 200px;
  bottom: 200px;
  text-align: center;
  height: 190px;
  width: 320px;
  box-shadow: 0 0 10px 5px #979797;
}
.sup {
  position: relative;
  left: 100px;
  padding-top: 8px;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-top: 10px;
}
.h1 {
  width: 315px;
  position: absolute;
  border: 2px solid Red;
  border-radius: 5px;
  left: 560px;
  top: 250px;
}
.h2 {
  width: 315px;
  position: absolute;
  border: 2px solid #4d80e4;
  border-radius: 5px;
  right: 200px;
  top: 287px;
}
.h3 {
  width: 315px;
  position: absolute;
  border: 2px solid #36b5b0;
  border-radius: 5px;
  left: 200px;
  top: 287px;
}
.h4 {
  width: 315px;
  position: absolute;
  border: 2px solid gold;
  border-radius: 5px;
  right: 560px;
  bottom: 207px;
}
  h1 {
    text-align: center;
    padding: 0.5rem;
    /* font-weight: lighter; */
    /* color: hsl(234, 12%, 34%);
    font-weight: 600;
    margin: 0; */
  }
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
